.alert{
    /* width: 500px; */
    @apply relative;
    

    &-danger{
        @apply bg-red-500;
    }

    &-warning{
        @apply bg-yellow-500;
    }
    
    &-success{
        @apply bg-green-500;
    }

    &-info{
        @apply bg-blue-500;
    }
    
    &-sm{
        @apply h-10;
    }

    &-lg{
        @apply h-24;
    }
}

.alerticon{
    width: 60px;
    @apply justify-center;
    @apply items-center;
    @apply text-2xl;

        &-danger{
            @apply bg-red-700;
        }

        &-warning{
            @apply bg-yellow-700;
        }

        &-success{
            @apply bg-green-700;
        }

        &-info{
            @apply bg-blue-700;
        }
}

.alertbody{
    @apply items-center;
    @apply py-5;
    @apply px-3;

}

.alertclose{
    @apply justify-end;
    @apply bg-gray-200;
    @apply p-2;
    @apply opacity-50;
    @apply text-xl;

    .alert:hover & {
        opacity: 1;
    }

    /* &:hover {
        background-color: rgba(black, 0.5);
    } */
}

 
#id1{
}

#close {
display: none;
}

#id1:hover  #close  {
display: block;
}

#id2:hover  #close  {
display: block;
}

#id3:hover  #close  {
display: block;
}

#id4:hover  #close  {
display: block;
}
