html {
    font-size : 14px;
}

body {
    line-height: 1.5 ;
    background-color: white;
    font-family: /*13px/1.4*/  Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}