.widefatbox{
    /* @apply w-5/6;
    @apply h-64;
    @apply bg-blue-200; */
    @apply p-1;
    @apply mt-5;
    @apply border-gray-400;
    @apply border;
    @apply rounded;

        &-blue{
            @apply bg-blue-200;
        }
}

.boxheader{
    @apply border-0;
    @apply border-b;
    @apply border-gray-400;
    @apply text-sm;
    @apply text-left;
    @apply text-white;

        &-bluenavy{
            @apply bg-blue-800;
        }

        &-bluedark{
            @apply bg-blue-700;
        }

        &-blue{
            @apply bg-blue-600;
        }
}

.boxrow{
    @apply border-0;
    @apply border-b;
    @apply border-solid;
    @apply border-gray-400;

        &-gray{
            @apply bg-gray-300;
        }

        &-white{
            @apply bg-white;
        }
}