.btn{
    @apply m-1;
    @apply px-2;
    @apply py-1;
    @apply font-normal;
    @apply text-center;
    @apply text-sm;
    @apply border;

    &-sm{
        @apply p-1;
        @apply text-xs;
    }
    &-lg{
        @apply py-2;
    }
    &-rounded{
        @apply rounded;
    }
    &-rounded-full{
        @apply rounded-full;
    }

    &-primary{
        @apply bg-blue-500;
        @apply text-white;
        &:hover{
            @apply bg-blue-700;
        }
    }

    &-secondary{
        @apply bg-gray-500;
        @apply text-white;
        &:hover{
            @apply bg-gray-700;
        }
    }

    &-success{
        @apply bg-green-500;
        @apply text-white;
        &:hover{
            @apply bg-green-700;
        }
    }

    &-danger{
        @apply bg-red-500;
        @apply text-white;
        &:hover{
            @apply bg-red-700;
        }
    }

    &-warning{
        @apply bg-yellow-500;
        @apply text-black;
        &:hover{
            @apply bg-yellow-700;
        }
    }

    &-info{
        @apply bg-teal-500;
        @apply text-white;
        &:hover{
            @apply bg-teal-700;
        }
    }

    &-link{
        @apply bg-white;
        @apply text-blue-600;
        &:hover{
            @apply bg-gray-700;
        }
    }

    &-light{
        @apply bg-white;
        @apply text-black;
        &:hover{
            @apply bg-gray-700;
        }
    }

    &-dark{
        @apply bg-gray-700;
        @apply text-white;
        &:hover{
            @apply bg-black;
        }
    }
}

.activebtn{
    @apply bg-black;
    @apply text-white;
}
