.mySlides {display: none}


    .container_slide {
    max-width: 1247px;
    /* position: relative; */
    margin: auto;
    @apply bg-orange-400;
    }

    
    .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(96, 151, 202);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }
        
    .activeslid, .dot:hover {
    background-color: rgb(4, 72, 134);
    }


    /* Fading animation */
    .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }

    @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }
