 .collapsible {
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
    outline: none;
    /* font-size: 15px; */
    }

    .active, .collapsible:hover {
    background-color: transparent;
    }

    .collapsecontent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ffffff;
    }




/* .wrap-collabsible {
    margin-bottom: 1.2rem 0;
  }
  
  input[type='checkbox'] {
    display: none;
  }
  
  .lbl-toggle {
    display: block;
    font-family: monospace;
    font-size: 10pt;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    color: black;
    background: gray;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
  }
  
  .lbl-toggle:hover {
    color: #7C5A0B;
  }
  
  .lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }
  
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }
  
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 350px;
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .collapsible-content .content-inner {
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
  } */