.input{
    padding: 1px;
    @apply bg-white;
    @apply text-sm;
    @apply border;
    @apply rounded;
    @apply border-gray-600;

    &-rounded{
        @apply rounded-lg;
    }

    &-xs{
        padding: 0px;
    }

    &-sm{
        padding: 0px;
    }

    &-lg{
        padding: 4px;
    }

    &-xl{
        padding: 6px;
    }

}

.inputselect{
    @apply border;
    @apply rounded;
    @apply border-gray-600;
    @apply border-solid;
    @apply w-48;
    @apply h-6;

    &-sm{
        @apply w-12;
    }
}









/* 
.input input-xxs{ 
    @apply bg-white;
    @apply w-10;
    @apply h-5;
    @apply border;
    @apply border-gray-600;
}


.input input-xs{
    @apply bg-white;
    @apply w-24;
    @apply h-5;
    @apply overflow-auto;
    @apply resize-y;
    @apply border;
    @apply rounded;
    @apply border-gray-600;
}

.input input-sm{
    @apply bg-white;
    @apply w-48;
    @apply h-5;
    @apply overflow-auto;
    @apply resize-y;
    @apply border;
    @apply rounded;
    @apply border-gray-600;
}

.input input-lg{
    @apply bg-white;
    @apply w-64;
    @apply h-5;
    @apply overflow-auto;
    @apply resize-y;
    @apply border;
    @apply rounded;
    @apply border-gray-600;
}


.input input-xl{
    @apply bg-white;
    @apply w-2/5;
    @apply h-5;
    @apply overflow-auto;
    @apply resize-y;
    @apply border;
    @apply rounded;
    @apply border-gray-600;
}

.inputlogin{
    @apply border;
    @apply border-gray-600;
    @apply rounded-lg;
    @apply bg-white;
    @apply w-64;
    @apply h-5;
    @apply text-sm;
    @apply p-4;
} */





/* 
.corners1 {
	border-radius: 10px;
	background-color: transparent;
	padding: 10px; 
	width: 300px;
	height: 40px; 
}
  
.corners2 {
	border-radius: 10px;
	background-color: white;
	padding: 10px; 
	width: 200px;
	height: 20px; 
}
	 
  */





