.lineblue {
    height: 8px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #EDF2F7;
}

.lineblue:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 8px;
    background-color:#4299E1;
    animation: loading 2s linear infinite;
}

.linered {
    height: 8px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #EDF2F7;
}

.linered:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 8px;
    background-color: #F56565;
    animation: loading 2s linear infinite;
}

.linegreen {
    height: 8px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #EDF2F7;
}

.linegreen:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 8px;
    background-color: #38B2AC;
    animation: loading 2s linear infinite;
}

.lineyellow {
    height: 8px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #EDF2F7;
}

.lineyellow:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 8px;
    background-color: #ECC94B;
    animation: loading 2s linear infinite;
}


@keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }

    50% {
        width: 30%;
    }

    65% {
        width: 70%;
    }

    75% {
        left: 80%;
    }

    85% {
        left: 90%;
    }

    95% {
        left: 120%;
    }

    to {
        left: 100%;
    }
}