/* .navHead dropdown */


.navHead {
    @apply w-full;
    @apply bg-blue-900;
    @apply absolute;
    @apply z-50;
}

.navHead ul {
    @apply list-none;
    @apply relative;
}
	
.navHead ul li {
    @apply inline-block;
    @apply bg-blue-900;
    @apply w-auto
}

.navHead a {
    @apply block;
    @apply px-3;
    @apply text-white;
    @apply text-base;
    line-height: 45px;
}

.navHead a:hover { 
    @apply bg-gray-200;
    @apply text-black; 
}

/* Hide Dropdowns by Default */
.navHead ul ul {
    @apply hidden;
    @apply absolute; 
	top: 45px; /* the height of the main .navHead */
}
	
/* Display Dropdowns on Hover */
.navHead ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
.navHead ul ul li {
    width:200px;
    @apply float-none;
    @apply relative;
	display:list-item;
}

/* Second, Third and more Tiers	*/
.navHead ul ul ul li {
    @apply relative;
	top:-45px; 
	left:200px;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ''; }
li > a:only-child:after { content:  ''; }
