.overlay{
    @apply inset-0;
    @apply w-full;
    @apply h-full;
    @apply bg-black;
    @apply opacity-75;
    @apply z-10;

    &-full{
        @apply fixed;
    }

    &-relative{
        @apply absolute;
    }
}