 /* Popover container - can be anything you want */
 .popover {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* The actual popover */
  .popover .popovertext {
    visibility: hidden;
    width: 250px;
    @apply bg-white;
    @apply text-black;
    /* @apply text-center; */
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    @apply z-20;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
    @apply border;
    @apply border-gray-400;
  }

  /* Popover arrow */
  .popover .popovertext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popover */
  .popover .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  /* Add animation (fade in the popover) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }