input[type=radio   ]:not(old){
    width     : 2em;
    margin    : 0;
    padding   : 0;
    /* font-size : 1em; */
    opacity   : 0;
  }
  
  input[type=radio   ]:not(old) + label{
    display      : inline-block;
    /* margin-left  : -2em; */
    line-height  : 1.5em;
  }
  
  input[type=radio   ]:not(old) + label > span{
    display          : inline-block;
    width            : 0.875em;
    height           : 0.875em;
    margin           : 0.25em 0.5em 0.25em 0.25em;
    border           : 0.0625em solid rgb(192,192,192);
    @apply rounded-full;
    background       : rgb(224,224,224);
    background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
    vertical-align   : bottom;
  }
  
  input[type=radio   ]:not(old) + label > span{
    display          : inline-block;
    width            : 0.875em;
    height           : 0.875em;
    margin           : 0.25em 0.5em 0.25em 0.25em;
    border           : 0.0625em solid rgb(192,192,192);
    @apply rounded-full;
    background       : rgb(224,224,224);
    background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
    background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
    vertical-align   : bottom;
  }
  
  input[type=radio]:not(old):checked + label > span > span{
    display          : block;
    width            : 0.5em;
    height           : 0.5em;
    margin           : 0.125em;
    border           : 0.0625em solid rgb(57, 91, 153);
    @apply rounded-full;
    background       : rgb(38, 116, 204);
    background-image :    -moz-linear-gradient(rgb(29, 61, 206),rgb(19, 56, 179));
    background-image :     -ms-linear-gradient(rgb(29, 61, 206),rgb(19, 56, 179));
    background-image :      -o-linear-gradient(rgb(29, 61, 206),rgb(19, 56, 179));
    background-image : -webkit-linear-gradient(rgb(29, 61, 206),rgb(19, 56, 179));
    background-image :         linear-gradient(rgb(29, 61, 206),rgb(19, 56, 179));
  }