.span-title{
    @apply text-base;
    @apply font-bold;
  }
    

.span{
  @apply text-sm;
  @apply text-black;

    &-green {
      background-color: #97c310;
      @apply border-0;
      @apply text-white;
      @apply p-1;
    }

    &-yellow {
      background-color: #eeea1c;
      @apply border-0;
      @apply p-1;
    }

    &-purple {
      background-color: #841ea3;
      @apply border-0;
      @apply text-white;
      @apply p-1;
    }
    
    &-blue {
      background-color: #4f7ed1;
      @apply border-0;
      @apply text-white;
      @apply p-1;
    }

    &-red {
      background-color: #e92222;
      @apply border-0;
      @apply text-white;
      @apply p-1;
    }
    
    &-bluelink {
      @apply text-blue-500;
      @apply cursor-pointer;
      &:hover{
        @apply text-red-500;
      }
    }
      
    &-brown {
      color: #a35617;
    }
    
    &-orange {
      color: #ff9b18;
      @apply font-bold;
    }

    &-status {
      @apply font-bold;
      @apply p-1;
    }

    &-danger {
      @apply text-red-500;
    }

    &-primary {
      @apply text-blue-500;
      
    }

    &-success {
      @apply text-green-500;
      
    }  

    &-warning {
      @apply text-yellow-500;
      
    } 

    &-pink {
      @apply text-pink-500;
      
    }

    &-violet{
      @apply text-purple-500;
    }

    &-navy{
      @apply text-blue-900;
    }
}

  