.headtable{
    @apply bg-blue-900;
    @apply text-sm;
    @apply text-left;
    @apply font-bold;
    @apply text-white;
    @apply border-b;
    @apply border-white;
    @apply py-1;
    @apply pl-1;
    &-blue{
        @apply bg-blue-700;
    }
    &-navy{
        @apply bg-blue-800;
    }
}

.rowtable{
    @apply text-sm;
    @apply text-left;
    @apply border-b;
    @apply border-gray-400;
    @apply bg-white;
    @apply py-1;
    @apply pl-1;
    &-blue{
        @apply bg-blue-600;
        @apply border-white;
    }
    &-navy{
        @apply bg-blue-700;
        @apply border-white;
    }
    &-gray{
        @apply bg-gray-300;
    }
    &-noborder{
        @apply border-b-0;
    }
}

