/* vertical tabs */
      
/* Style the tab */

.tab-container{
  /* width: 15%; */
  height: 205px;
  background-color: #f1f1f1;
}

.tab {
  /* float: left; */
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 100%;
  height: 100%;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: #2E72FF;
  color: black;
  width: 100%;
  border: 1px solid #718096;
  border-radius: 4px; 
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  /* font-size: 17px; */
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  /* @apply border;
  @apply border-black;
  @apply border-solid; */
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color:#022367;
  color: white;
}

/* Style the tab content */
.tabcontent {
  /* float: left; */
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 100%;
  border-left: none;
  height: 205px;  
}

#myDIV {           
  text-align: center;
}













      /* tabs biasa 
      Style the tab 
      .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 680px;
      } 
      
       Style the buttons inside the tab 
      .tab button {
        background-color: inherit;
        float: center;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
      } 
      
      Change background color of buttons on hover 
      .tab button:hover {
        background-color: #ddd;
      } 
      
       Create an active/current tablink class
       .tab button.active {
        background-color: #ccc;
      } 
      
      Style the tab content 
       .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        
        width: 800px;
      }  */


