@tailwind base;

@tailwind components;

.btn{
    @apply m-1;
    @apply px-2;
    @apply py-1;
    @apply font-normal;
    @apply text-center;
    @apply text-sm;
    @apply border;
}

.btn-sm{
        @apply p-1;
        @apply text-xs;
    }

.btn-lg{
        @apply py-2;
    }

.btn-rounded{
        @apply rounded;
    }

.btn-rounded-full{
        @apply rounded-full;
    }

.btn-primary{
        @apply bg-blue-500;
        @apply text-white
    }

.btn-primary:hover{
            @apply bg-blue-700;
        }

.btn-secondary{
        @apply bg-gray-500;
        @apply text-white
    }

.btn-secondary:hover{
            @apply bg-gray-700;
        }

.btn-success{
        @apply bg-green-500;
        @apply text-white
    }

.btn-success:hover{
            @apply bg-green-700;
        }

.btn-danger{
        @apply bg-red-500;
        @apply text-white
    }

.btn-danger:hover{
            @apply bg-red-700;
        }

.btn-warning{
        @apply bg-yellow-500;
        @apply text-black
    }

.btn-warning:hover{
            @apply bg-yellow-700;
        }

.btn-info{
        @apply bg-teal-500;
        @apply text-white
    }

.btn-info:hover{
            @apply bg-teal-700;
        }

.btn-link{
        @apply bg-white;
        @apply text-blue-600
    }

.btn-link:hover{
            @apply bg-gray-700;
        }

.btn-light{
        @apply bg-white;
        @apply text-black
    }

.btn-light:hover{
            @apply bg-gray-700;
        }

.btn-dark{
        @apply bg-gray-700;
        @apply text-white
    }

.btn-dark:hover{
            @apply bg-black;
        }

.activebtn{
    @apply bg-black;
    @apply text-white;
}

.badge{
    @apply px-2;
    @apply inline-block;
    @apply text-sm;
    @apply text-center;
    @apply align-middle;
    @apply rounded-full;

}

.badge-sm{
        @apply px-1;
    }

.badge-lg{
        @apply px-3;
        
    }

.badge-xl{
        @apply px-4;
    }

.badge-primary{
        @apply text-white;
        @apply bg-blue-600;
    }

.badge-secondary{
        @apply text-white;
        @apply bg-gray-500;
    }

.badge-success{
        @apply text-white;
        @apply bg-green-600;
    }

.badge-danger{
        @apply text-white !important;
        @apply bg-red-600;
    }

.badge-warning{
        @apply text-black;
        @apply bg-yellow-400;
    }

.badge-info{
        @apply text-black;
        @apply bg-blue-500;
    }

.badge-light{
        @apply text-black;
        @apply bg-transparent;
    }

.badge-dark{
        @apply bg-gray-700;
    }

.badge-Fit{
        @apply text-white;
        @apply bg-purple-500;
    }

h1, h2, h3, h4, h5, h6 { 
    font-family:  Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

title {
    font-family:  Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

body {
    font-family:  Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

p {
    font-family: Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif; 
}

span {
    font-family: Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif; 
}

input {
    font-family: Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

/* Dropdown normal size */

.dropdown {
    display: inline;
    position: relative;
  }

.dd-button {
    display: inline-block;
    border: 1px solid rgb(19, 19, 19);
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
  }

.dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }

.dd-button:hover {
    background-color: #eeeeee;
  }

.dd-input {
    display: none;
  }

.dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;

  }

.dd-input + .dd-menu {
    display: none;
  }

.dd-input:checked + .dd-menu {
    display: block;
  }

.dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }

.dd-menu li:hover {
    background-color: #f6f6f6;
  }

.dd-menu li a {
    display: block;
    margin: 10px 20px;
    padding: 10px 20px;
  }

.dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }

/* Dropdown small size */

.dropdown {
    display: inline;
    position: relative;
  }

.dd-button-small {
    display: inline-block;
    border: 1px solid rgb(2, 2, 2);
    border-radius: 4px;
    padding: 5px 40px 5px 5px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    width: 25px;
    height: 25px;
  }

.dd-button-small:after {
    content: '';
    position: absolute;
    top: 40%;
    right: 8px; /* atur simbol down */
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }

.dd-button-small:hover {
    background-color: #9b9b9b;
  }

.dd-input {
    display: none;
  }

.dd-menu-small {
    position: absolute;
    top: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
    
  }

.dd-input + .dd-menu-small {
    display: none;
  }

.dd-input:checked + .dd-menu-small {
    display: block;
  }

.dd-menu-small li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }

.dd-menu-small li:hover {
    background-color: #8a8a8a;
  }

.dd-menu-small li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }

.dd-menu-small li.divider{
    padding: 0;
    border-bottom: 1px solid #979797;
  }

.input{
    padding: 1px;
    @apply bg-white;
    @apply text-sm;
    @apply border;
    @apply rounded;
    @apply border-gray-600;

}

.input-rounded{
        @apply rounded-lg;
    }

.input-xs{
        padding: 0px;
    }

.input-sm{
        padding: 0px;
    }

.input-lg{
        padding: 4px;
    }

.input-xl{
        padding: 6px;
    }

.inputselect{
    @apply border;
    @apply rounded;
    @apply border-gray-600;
    @apply border-solid;
    @apply w-48;
    @apply h-6;
}

.inputselect-sm{
        @apply w-12;
    }

/* 
.input input-xxs{ 
    @apply bg-white;
    @apply w-10;
    @apply h-5;
    @apply border;
    @apply border-gray-600;
}


.input input-xs{
    @apply bg-white;
    @apply w-24;
    @apply h-5;
    @apply overflow-auto;
    @apply resize-y;
    @apply border;
    @apply rounded;
    @apply border-gray-600;
}

.input input-sm{
    @apply bg-white;
    @apply w-48;
    @apply h-5;
    @apply overflow-auto;
    @apply resize-y;
    @apply border;
    @apply rounded;
    @apply border-gray-600;
}

.input input-lg{
    @apply bg-white;
    @apply w-64;
    @apply h-5;
    @apply overflow-auto;
    @apply resize-y;
    @apply border;
    @apply rounded;
    @apply border-gray-600;
}


.input input-xl{
    @apply bg-white;
    @apply w-2/5;
    @apply h-5;
    @apply overflow-auto;
    @apply resize-y;
    @apply border;
    @apply rounded;
    @apply border-gray-600;
}

.inputlogin{
    @apply border;
    @apply border-gray-600;
    @apply rounded-lg;
    @apply bg-white;
    @apply w-64;
    @apply h-5;
    @apply text-sm;
    @apply p-4;
} */

/* 
.corners1 {
	border-radius: 10px;
	background-color: transparent;
	padding: 10px; 
	width: 300px;
	height: 40px; 
}
  
.corners2 {
	border-radius: 10px;
	background-color: white;
	padding: 10px; 
	width: 200px;
	height: 20px; 
}
	 
  */

/* Base for label styling */

[type="checkbox"]:not(:checked),
 [type="checkbox"]:checked {
   position: absolute;
   left: -9999px;
 }

[type="checkbox"]:not(:checked) + label,
 [type="checkbox"]:checked + label {
   position: relative;
   padding-left: 1.95em;
   cursor: pointer;
 }

/* checkbox aspect */

[type="checkbox"]:not(:checked) + label:before,
 [type="checkbox"]:checked + label:before {
   content: '';
   position: absolute;
   left: 0; top: 0;
   width: 1.25em; height: 1.25em;
   border: 2px solid #ccc;
   background: #fff;
   border-radius: 4px;
   box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
 }

/* checked mark aspect */

[type="checkbox"]:not(:checked) + label:after,
 [type="checkbox"]:checked + label:after {
   content: '\2713\0020';
   position: absolute;
   top: .15em; left: .22em;
   font-size: 1.3em;
   line-height: 0.8;
   color: #0919ad;
   transition: all .2s;
   font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
 }

/* checked mark aspect changes */

[type="checkbox"]:not(:checked) + label:after {
   opacity: 0;
   -webkit-transform: scale(0);
           transform: scale(0);
 }

[type="checkbox"]:checked + label:after {
   opacity: 1;
   -webkit-transform: scale(1);
           transform: scale(1);
 }

/* disabled checkbox */

[type="checkbox"]:disabled:not(:checked) + label:before,
 [type="checkbox"]:disabled:checked + label:before {
   box-shadow: none;
   border-color: #bbb;
   background-color: #ddd;
 }

[type="checkbox"]:disabled:checked + label:after {
   color: #999;
 }

[type="checkbox"]:disabled + label {
   color: #aaa;
 }

/* accessibility */

[type="checkbox"]:checked:focus + label:before,
 [type="checkbox"]:not(:checked):focus + label:before {
   border: 2px solid blue;
 }

/* hover style just for information */

label:hover:before {
   border: 2px solid #4778d9!important;
 }

/* [type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid rgb(0, 0, 0);
	background: #fff;
	border-radius: 25px;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: rgb(81, 95, 250);
    position: absolute;
    top: 5px;
    left: 5px;
    -webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	border-radius: 25px;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
} */

.pagination {
    @apply text-center;
    @apply m-5;
/*     
    text-align: center;
    margin: 20px */
}

.pagination a, .pagination strong {
    @apply bg-white;
    @apply inline-block;
    @apply mr-1;
    @apply py-1;
    @apply px-3;
    @apply leading-normal;



    /* background: #fff;
    display: inline-block;
    margin-right: 3px;
    padding: 4px 12px;
    text-decoration: none;
	line-height: 1.5em; */
/* 	
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; */
}

.pagination a:hover {
    @apply bg-gray-600;
    @apply text-white;

    /*     
    background-color: #BEBEBE;
    color: #fff; */
}

.pagination a:active {
    @apply bg-gray-400;
    /*     
	background: rgba(190, 190, 190, 0.75); */
}

.pagination strong {
    @apply text-white;
    @apply bg-gray-600;
/* 
    color: #fff;
    background-color: #BEBEBE; */
}

.label {
    @apply text-white;
    @apply p-2;
}

.label-sm{
        @apply p-1;
        @apply text-xs;
    }

.label-lg{
        @apply p-3;
    }

.label-xl{
        @apply p-4;
    }

.label-rounded{
        @apply rounded-lg;
    }

.label-primary{
        @apply bg-blue-500;
    }

.label-success{
        @apply bg-green-500;
        @apply text-white;
    }

.label-secondary{
        @apply bg-gray-500;
        @apply text-white;
    }

.label-danger{
        @apply bg-red-500;
        @apply text-white;
    }

.label-warning{
        @apply bg-yellow-500;
        @apply text-white;

    }

.label-info{
        @apply bg-blue-500;
        @apply text-white;
    }

.label-other{
        @apply bg-gray-300;
        @apply text-black !important;
    }

/* .navHead dropdown */

.navHead {
    @apply w-full;
    @apply bg-blue-900;
    @apply absolute;
    @apply z-50;
}

.navHead ul {
    @apply list-none;
    @apply relative;
}

.navHead ul li {
    @apply inline-block;
    @apply bg-blue-900;
    @apply w-auto
}

.navHead a {
    @apply block;
    @apply px-3;
    @apply text-white;
    @apply text-base;
    line-height: 45px;
}

.navHead a:hover { 
    @apply bg-gray-200;
    @apply text-black; 
}

/* Hide Dropdowns by Default */

.navHead ul ul {
    @apply hidden;
    @apply absolute; 
	top: 45px; /* the height of the main .navHead */
}

/* Display Dropdowns on Hover */

.navHead ul li:hover > ul {
	display:inherit;
}

/* Fisrt Tier Dropdown */

.navHead ul ul li {
    width:200px;
    @apply float-none;
    @apply relative;
	display:list-item;
}

/* Second, Third and more Tiers	*/

.navHead ul ul ul li {
    @apply relative;
	top:-45px; 
	left:200px;
}

/* Change this in order to change the Dropdown symbol */

li > a:after { content:  ''; }

li > a:only-child:after { content:  ''; }

.spinner {
        @apply inline-block;
        @apply w-12;
        @apply h-12;
        @apply border-4;
        @apply border-white;
        @apply border-solid;
        @apply rounded-full;
        border-top-color: rgb(0, 0, 0);
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;



        /* display: inline-block;
        width: 50px;
        height: 50px;
        border: 3px solid rgb(0, 0, 0);
        border-radius: 50%;
        border-top-color: rgb(248, 248, 248);
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite; */
    }

.spinner-xs{
            @apply w-4;
            @apply h-4;
        }

.spinner-sm{
            @apply w-8;
            @apply h-8;
        }

.spinner-lg{
            @apply w-20;
            @apply h-20;
        }

.spinner-xl{
            @apply w-32;
            @apply h-32;
        }

@keyframes spin {
        to { -webkit-transform: rotate(360deg); }
    }

@-webkit-keyframes spin {
        to { -webkit-transform: rotate(360deg); }
    }

.span-title{
    @apply text-base;
    @apply font-bold;
  }

.span{
  @apply text-sm;
  @apply text-black;
}

.span-green {
      background-color: #97c310;
      @apply border-0;
      @apply text-white;
      @apply p-1;
    }

.span-yellow {
      background-color: #eeea1c;
      @apply border-0;
      @apply p-1;
    }

.span-purple {
      background-color: #841ea3;
      @apply border-0;
      @apply text-white;
      @apply p-1;
    }

.span-blue {
      background-color: #4f7ed1;
      @apply border-0;
      @apply text-white;
      @apply p-1;
    }

.span-red {
      background-color: #e92222;
      @apply border-0;
      @apply text-white;
      @apply p-1;
    }

.span-bluelink {
      @apply text-blue-500;
      @apply cursor-pointer
    }

.span-bluelink:hover{
        @apply text-red-500;
      }

.span-brown {
      color: #a35617;
    }

.span-orange {
      color: #ff9b18;
      @apply font-bold;
    }

.span-status {
      @apply font-bold;
      @apply p-1;
    }

.span-danger {
      @apply text-red-500;
    }

.span-primary {
      @apply text-blue-500;
      
    }

.span-success {
      @apply text-green-500;
      
    }

.span-warning {
      @apply text-yellow-500;
      
    }

.span-pink {
      @apply text-pink-500;
      
    }

.span-violet{
      @apply text-purple-500;
    }

.span-navy{
      @apply text-blue-900;
    }

.mySlides {display: none}

.container_slide {
    max-width: 1247px;
    /* position: relative; */
    margin: auto;
    @apply bg-orange-400;
    }

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(96, 151, 202);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }

.activeslid, .dot:hover {
    background-color: rgb(4, 72, 134);
    }

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    }

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }

html {
    font-size : 14px;
}

body {
    line-height: 1.5 ;
    background-color: white;
    font-family: /*13px/1.4*/  Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.footer {
    /* @apply relative; */
    @apply p-1;
    @apply bg-white;
    @apply mt-24;
    @apply text-right;
    width: 95%;
    @apply border-0;
    @apply border-t;
    @apply border-solid;
    @apply border-black;
  }

/* vertical tabs */

/* Style the tab */

.tab-container{
  /* width: 15%; */
  height: 205px;
  background-color: #f1f1f1;
}

.tab {
  /* float: left; */
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 100%;
  height: 100%;
}

/* Style the buttons inside the tab */

.tab button {
  display: block;
  background-color: #2E72FF;
  color: black;
  width: 100%;
  border: 1px solid #718096;
  border-radius: 4px; 
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  /* font-size: 17px; */
}

/* Change background color of buttons on hover */

.tab button:hover {
  background-color: #ddd;
  /* @apply border;
  @apply border-black;
  @apply border-solid; */
}

/* Create an active/current "tab button" class */

.tab button.active {
  background-color:#022367;
  color: white;
}

/* Style the tab content */

.tabcontent {
  /* float: left; */
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 100%;
  border-left: none;
  height: 205px;  
}

#myDIV {           
  text-align: center;
}

/* tabs biasa 
      Style the tab 
      .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 680px;
      } 
      
       Style the buttons inside the tab 
      .tab button {
        background-color: inherit;
        float: center;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
      } 
      
      Change background color of buttons on hover 
      .tab button:hover {
        background-color: #ddd;
      } 
      
       Create an active/current tablink class
       .tab button.active {
        background-color: #ccc;
      } 
      
      Style the tab content 
       .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        
        width: 800px;
      }  */

.widefatbox{
    /* @apply w-5/6;
    @apply h-64;
    @apply bg-blue-200; */
    @apply p-1;
    @apply mt-5;
    @apply border-gray-400;
    @apply border;
    @apply rounded;
}

.widefatbox-blue{
            @apply bg-blue-200;
        }

.boxheader{
    @apply border-0;
    @apply border-b;
    @apply border-gray-400;
    @apply text-sm;
    @apply text-left;
    @apply text-white;
}

.boxheader-bluenavy{
            @apply bg-blue-800;
        }

.boxheader-bluedark{
            @apply bg-blue-700;
        }

.boxheader-blue{
            @apply bg-blue-600;
        }

.boxrow{
    @apply border-0;
    @apply border-b;
    @apply border-solid;
    @apply border-gray-400;
}

.boxrow-gray{
            @apply bg-gray-300;
        }

.boxrow-white{
            @apply bg-white;
        }

.collapsible {
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
    outline: none;
    /* font-size: 15px; */
    }

.active, .collapsible:hover {
    background-color: transparent;
    }

.collapsecontent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ffffff;
    }

/* .wrap-collabsible {
    margin-bottom: 1.2rem 0;
  }
  
  input[type='checkbox'] {
    display: none;
  }
  
  .lbl-toggle {
    display: block;
    font-family: monospace;
    font-size: 10pt;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    color: black;
    background: gray;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
  }
  
  .lbl-toggle:hover {
    color: #7C5A0B;
  }
  
  .lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }
  
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }
  
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 350px;
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .collapsible-content .content-inner {
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
  } */

.overlay{
    @apply inset-0;
    @apply w-full;
    @apply h-full;
    @apply bg-black;
    @apply opacity-75;
    @apply z-10;
}

.overlay-full{
        @apply fixed;
    }

.overlay-relative{
        @apply absolute;
    }

.tooltip {
    @apply relative;
    @apply inline-block;
    
  }

.tooltipbot .textbot {
    @apply invisible;
    width: 120px;
    @apply bg-black;
    @apply text-white;
    @apply text-center;
    border-radius: 6px;
    padding: 5px 0;
    @apply absolute;
    @apply z-10;
    top: 150%;
    left: 50%;
    margin-left: -60px;
  }

.tooltipbot .textbot::after {
    content: "";
    @apply absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

.tooltiptop .texttop {
    @apply invisible;
    width: 120px;
    @apply bg-black;
    @apply text-white;
    @apply text-center;
    border-radius: 6px;
    padding: 5px 0;
    @apply absolute;
    @apply z-10;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }

.tooltiptop .texttop::after {
    content: "";
    @apply absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

.tooltipright .textright {
    @apply invisible;
    width: 120px;
    @apply bg-black;
    @apply text-white;
    @apply text-center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    @apply absolute;
    @apply z-10;
    top: -5px;
    left: 105%;
  }

.tooltipright .textright::after {
    content: "";
    @apply absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }

.tooltipleft .textleft {
    @apply invisible;
    width: 120px;
    @apply bg-black;
    @apply text-white;
    @apply text-center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    @apply absolute;
    @apply z-10;
    top: -5px;
    right: 105%;
  }

.tooltipleft .textleft::after {
    content: "";
    @apply absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
  }

.tooltipbot:hover .textbot {
    visibility: visible;
  }

.tooltiptop:hover .texttop {
    visibility: visible;
  }

.tooltipright:hover .textright {
    visibility: visible;
  }

.tooltipleft:hover .textleft {
    visibility: visible;
  }

/* The Modal (background) */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    @apply z-20; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }

/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    /* font-size: 28px; */
    font-weight: bold;
  }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Popover container - can be anything you want */

.popover {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

/* The actual popover */

.popover .popovertext {
    visibility: hidden;
    width: 250px;
    @apply bg-white;
    @apply text-black;
    /* @apply text-center; */
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    @apply z-20;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
    @apply border;
    @apply border-gray-400;
  }

/* Popover arrow */

.popover .popovertext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

/* Toggle this class - hide and show the popover */

.popover .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

/* Add animation (fade in the popover) */

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

input[type=radio   ]:not(old){
    width     : 2em;
    margin    : 0;
    padding   : 0;
    /* font-size : 1em; */
    opacity   : 0;
  }

input[type=radio   ]:not(old) + label{
    display      : inline-block;
    /* margin-left  : -2em; */
    line-height  : 1.5em;
  }

input[type=radio   ]:not(old) + label > span{
    display          : inline-block;
    width            : 0.875em;
    height           : 0.875em;
    margin           : 0.25em 0.5em 0.25em 0.25em;
    border           : 0.0625em solid rgb(192,192,192);
    @apply rounded-full;
    background       : rgb(224,224,224);
    background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
    vertical-align   : bottom;
  }

input[type=radio   ]:not(old) + label > span{
    display          : inline-block;
    width            : 0.875em;
    height           : 0.875em;
    margin           : 0.25em 0.5em 0.25em 0.25em;
    border           : 0.0625em solid rgb(192,192,192);
    @apply rounded-full;
    background       : rgb(224,224,224);
    background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
    vertical-align   : bottom;
  }

input[type=radio]:not(old):checked + label > span > span{
    display          : block;
    width            : 0.5em;
    height           : 0.5em;
    margin           : 0.125em;
    border           : 0.0625em solid rgb(57, 91, 153);
    @apply rounded-full;
    background       : rgb(38, 116, 204);
    background-image :         linear-gradient(rgb(29, 61, 206),rgb(19, 56, 179));
  }

.alert{
    /* width: 500px; */
    @apply relative;
}

.alert-danger{
        @apply bg-red-500;
    }

.alert-warning{
        @apply bg-yellow-500;
    }

.alert-success{
        @apply bg-green-500;
    }

.alert-info{
        @apply bg-blue-500;
    }

.alert-sm{
        @apply h-10;
    }

.alert-lg{
        @apply h-24;
    }

.alerticon{
    width: 60px;
    @apply justify-center;
    @apply items-center;
    @apply text-2xl;
}

.alerticon-danger{
            @apply bg-red-700;
        }

.alerticon-warning{
            @apply bg-yellow-700;
        }

.alerticon-success{
            @apply bg-green-700;
        }

.alerticon-info{
            @apply bg-blue-700;
        }

.alertbody{
    @apply items-center;
    @apply py-5;
    @apply px-3;

}

.alertclose{
    @apply justify-end;
    @apply bg-gray-200;
    @apply p-2;
    @apply opacity-50;
    @apply text-xl;

    /* &:hover {
        background-color: rgba(black, 0.5);
    } */
}

.alert:hover .alertclose {
        opacity: 1;
    }

#id1{
}

#close {
display: none;
}

#id1:hover  #close  {
display: block;
}

#id2:hover  #close  {
display: block;
}

#id3:hover  #close  {
display: block;
}

#id4:hover  #close  {
display: block;
}

.navigation {
  width: 200px;
}

/* reset our lists to remove bullet points and padding */

.mainmenu, .submenu, .thirdmenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */

.mainmenu a {
  display: block;
  background-color: #CCC;
  text-decoration: none;
  padding: 10px;
  color: #000;
}

/* add hover behaviour */

.mainmenu a:hover {
    background-color: #C5C5C5;
}

/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
  display: block;
  max-height: 1600px;
}

.submenu li:hover .thirdmenu{
  display: block;
  max-height: 1000px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
  background-color: #999;
  margin-left: 20px;
}

.thirdmenu a {
  background-color: #e31414;
  margin-left: 40px;
}

/* hover behaviour for links inside .submenu */

.submenu a:hover {
  background-color: #666;
}

.thirdmenu a:hover {
  background-color: #ed8585;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

.thirdmenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

#menuToggle
   {
     display: block;
     position: relative;
     top: 50px;
     left: 50px;
     
     z-index: 1;
     
     -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
   }

#menuToggle input
   {
     display: block;
     width: 30px;
     height: 30px;
     position: absolute;
     top: -7px;
     left: -5px;
     
     cursor: pointer;
     
     opacity: 0; /* hide this */
     z-index: 2; /* and place it over the hamburger */
     
     -webkit-touch-callout: none;
   }

/*
    * Just a quick hamburger
    */

#menuToggle span
   {
     display: block;
     width: 25px;
     height: 3px;
     margin-bottom: 3px;
     position: relative;
     
     background: #cdcdcd;
     border-radius: 3px;
     
     z-index: 1;
     
     -webkit-transform-origin: 4px 0px;
     
             transform-origin: 4px 0px;
     
     transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 opacity 0.55s ease,
                 -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
     
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 opacity 0.55s ease;
     
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 opacity 0.55s ease,
                 -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   }

#menuToggle span:first-child
   {
     -webkit-transform-origin: 0% 0%;
             transform-origin: 0% 0%;
   }

#menuToggle span:nth-last-child(2)
   {
     -webkit-transform-origin: 0% 100%;
             transform-origin: 0% 100%;
   }

/* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */

#menuToggle input:checked ~ span
   {
     opacity: 1;
     -webkit-transform: rotate(45deg) translate(-2px, -1px);
             transform: rotate(45deg) translate(-2px, -1px);
     background: #232323;
   }

/*
    * But let's hide the middle one.
    */

#menuToggle input:checked ~ span:nth-last-child(3)
   {
     opacity: 0;
     -webkit-transform: rotate(0deg) scale(0.2, 0.2);
             transform: rotate(0deg) scale(0.2, 0.2);
   }

/*
    * Ohyeah and the last one should go the other direction
    */

#menuToggle input:checked ~ span:nth-last-child(2)
   {
     -webkit-transform: rotate(-45deg) translate(0, -1px);
             transform: rotate(-45deg) translate(0, -1px);
   }

/*
    * Make this absolute positioned
    * at the top left of the screen
    */

#menu
   {
     position: absolute;
     width: 300px;
     margin: -100px 0 0 -50px;
     padding: 50px;
     padding-top: 125px;
     
     background: #ededed;
     list-style-type: none;
     -webkit-font-smoothing: antialiased;
     /* to stop flickering of text in safari */
     
     -webkit-transform-origin: 0% 0%;
     
             transform-origin: 0% 0%;
     -webkit-transform: translate(-100%, 0);
             transform: translate(-100%, 0);
     
     transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
     
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
     
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   }

#menu li
   {
     padding: 2px 0;
     /* font-size: 16px; */
   }

/*
    * And let's slide it in from the left
    */

#menuToggle input:checked ~ ul
   {
     -webkit-transform: none;
             transform: none;
   }

.headtable{
    @apply bg-blue-900;
    @apply text-sm;
    @apply text-left;
    @apply font-bold;
    @apply text-white;
    @apply border-b;
    @apply border-white;
    @apply py-1;
    @apply pl-1;
}

.headtable-blue{
        @apply bg-blue-700;
    }

.headtable-navy{
        @apply bg-blue-800;
    }

.rowtable{
    @apply text-sm;
    @apply text-left;
    @apply border-b;
    @apply border-gray-400;
    @apply bg-white;
    @apply py-1;
    @apply pl-1;
}

.rowtable-blue{
        @apply bg-blue-600;
        @apply border-white;
    }

.rowtable-navy{
        @apply bg-blue-700;
        @apply border-white;
    }

.rowtable-gray{
        @apply bg-gray-300;
    }

.rowtable-noborder{
        @apply border-b-0;
    }

/* CSS Document */

.toggle,
[id^=drop] {
    display: none;
}

/* Giving a background-color to the nav container. */

.topnav {
    margin: 0;
    padding: 0;
    background-color: #2A4365;
    z-index: 50;
    position: relative;
}

/* #logo {
    display: block;
    padding: 0 30px;
    float: left;
    font-size: 20px;
    line-height: 48px;
    color: black;
} */

/* Since we'll have the "ul li" "float:left"
* we need to add a clear after the container. */

nav:after {
    content: "";
    display: table;
    clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
* and adding "position:reltive" */

nav ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

/* Positioning the navigation items inline */

nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
    background-color: #2A4365;
}

/* Styling the links */

nav a {
    display: block;
    padding: 14px 20px;
    color: #FFF;
    /* font-size: 17px; */
    text-decoration: none;
}

nav ul li ul li:hover {
    background: #2A4365;
}

/* Background color change on Hover */

nav a:hover {
    background-color: #EDF2F7;
    color: black;
}

/* Hide Dropdowns by Default
* and giving it a position of absolute */

nav ul ul {
    display: none;
    position: absolute;
    /* has to be the same number as the "line-height" of "nav a" */
    top: 48px;
}

/* Display Dropdowns on Hover */

nav ul li:hover>ul {
    display: inherit;
}

/* Fisrt Tier Dropdown */

nav ul ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
}

/* Second, Third and more Tiers	
* We move the 2nd and 3rd etc tier dropdowns to the left
* by the amount of the width of the first tier.
*/

nav ul ul ul li {
    position: relative;
    top: -48px;
    /* has to be the same number as the "width" of "nav ul ul li" */
    left: 200px;
}

/* Change ' >' in order to change the Dropdown symbol */

li>a:after {
    content: '';
}

li>a:only-child:after {
    content: '';
}

/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

    /* #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    } */

    nav {
        margin: 0;
    }

    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle+a,
    .menu {
        display: none;
    }

    /* Stylinf the toggle lable */
    .toggle {
        display: block;
        background-color: #2A4365;
        padding: 14px 20px;
        color: #FFF;
        /* font-size: 17px; */
        text-decoration: none;
        border: none;
    }

    .toggle:hover {
        @apply bg-gray-200;
        color: black;
    }

    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked+ul {
        display: block;
    }

    /* Change menu item's width to 100% */
    nav ul li {
        display: block;
        width: 100%;
    }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }

    nav ul ul ul a {
        padding: 0 80px;
    }

    nav a:hover{
        @apply bg-gray-200;
    }

    nav ul ul ul a {
        background-color: #2B6CB0; 
    }

    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        padding: 14px 20px;
        color: #FFF;
        /* font-size: 17px; */
    }


    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #2C5282;
    }

    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
        /* has to be the same number as the "line-height" of " nav a" */
    }

    /* Hide menus on hover */
    nav ul ul li:hover>ul,
    nav ul li:hover>ul {
        display: none;
    }

    /* Fisrt Tier Dropdown */
    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */

    }

}

@media all and (max-width : 330px) {

    nav ul li {
        display: block;
        width: 94%;
    }

}

.lineblue {
    height: 8px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #EDF2F7;
}

.lineblue:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 8px;
    background-color:#4299E1;
    -webkit-animation: loading 2s linear infinite;
            animation: loading 2s linear infinite;
}

.linered {
    height: 8px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #EDF2F7;
}

.linered:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 8px;
    background-color: #F56565;
    -webkit-animation: loading 2s linear infinite;
            animation: loading 2s linear infinite;
}

.linegreen {
    height: 8px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #EDF2F7;
}

.linegreen:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 8px;
    background-color: #38B2AC;
    -webkit-animation: loading 2s linear infinite;
            animation: loading 2s linear infinite;
}

.lineyellow {
    height: 8px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #EDF2F7;
}

.lineyellow:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 8px;
    background-color: #ECC94B;
    -webkit-animation: loading 2s linear infinite;
            animation: loading 2s linear infinite;
}

@-webkit-keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }

    50% {
        width: 30%;
    }

    65% {
        width: 70%;
    }

    75% {
        left: 80%;
    }

    85% {
        left: 90%;
    }

    95% {
        left: 120%;
    }

    to {
        left: 100%;
    }
}

@keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }

    50% {
        width: 30%;
    }

    65% {
        width: 70%;
    }

    75% {
        left: 80%;
    }

    85% {
        left: 90%;
    }

    95% {
        left: 120%;
    }

    to {
        left: 100%;
    }
}

.range-slider {
        /* width: 300px; */
        margin: auto;
        text-align: center;
        position: relative;
        height: 6em;
    }

.range-slider svg,
    .range-slider input[type=range] {
        position: absolute;
        left: 0;
        bottom: 20px;
    }

input[type=number] {
        border: 1px solid #ddd;
        text-align: center;
        /* font-size: 1.6em; */
        -moz-appearance: textfield;
    }

input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

input[type=number]:invalid,
    input[type=number]:out-of-range {
        border: 2px solid #ff6347;
    }

input[type=range] {
        -webkit-appearance: none;
        width: 100%;
    }

input[type=range]:focus {
        outline: none;
    }

input[type=range]:focus::-webkit-slider-runnable-track {
        background: #2497e3;
    }

input[type=range]:focus::-ms-fill-lower {
        background: #2497e3;
    }

input[type=range]:focus::-ms-fill-upper {
        background: #2497e3;
    }

input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        background: #2497e3;
        border-radius: 1px;
        box-shadow: none;
        border: 0;
    }

input[type=range]::-webkit-slider-thumb {
        z-index: 2;
        position: relative;
        box-shadow: 0px 0px 0px #000;
        border: 1px solid #2497e3;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #a1d0ff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -7px;
    }

input[type=range]::-moz-range-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        background: #2497e3;
        border-radius: 1px;
        box-shadow: none;
        border: 0;
    }

input[type=range]::-moz-range-thumb {
        z-index: 2;
        position: relative;
        box-shadow: 0px 0px 0px #000;
        border: 1px solid #2497e3;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #a1d0ff;
        cursor: pointer;
    }

input[type=range]::-ms-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

input[type=range]::-ms-fill-lower,
    input[type=range]::-ms-fill-upper {
        background: #2497e3;
        border-radius: 1px;
        box-shadow: none;
        border: 0;
    }

input[type=range]::-ms-thumb {
        z-index: 2;
        position: relative;
        box-shadow: 0px 0px 0px #000;
        border: 1px solid #2497e3;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #a1d0ff;
        cursor: pointer;
    }

.popup {
    position: fixed;
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .9);
    visibility: hidden;
    opacity: 0;
    /* "delay" the visibility transition */
    transition: opacity .5s, visibility 0s linear .5s;
    z-index: 1;
}

.popup:target {
    visibility: visible;
    opacity: 1;
    /* cancel visibility transition delay */
    transition-delay: 0s;
}

.popup-close {
    position: absolute;
    padding: 10px;
    max-width: 500px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .9);
}

.popup .close {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    color: #000;
    transition: color .3s;
    font-size: 2em;
    line-height: .6em;
    font-weight: bold;
}

.popup .close:hover {
    color: #00E5EE;
}

.close-popup {
    background: rgba(0, 0, 0, .7);
    cursor: default;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    /* "delay" the visibility transition */
    transition: opacity .5s, visibility 0s linear .5s;
}

.popup:target+.close-popup {
    opacity: 1;
    visibility: visible;
    /* cancel visibility transition delay */
    transition-delay: 0s;
}

@tailwind utilities;